<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - Lab5</title>
</head>
<body>
    <nav>
        <a href="/Home/Index">Home</a> |
        <a href="/Customer/Index">Customers</a> |
        <a href="/FoodDeliveryServices/Index">Food Services</a>
    </nav>
    <div>
        @RenderBody()
    </div>
</body>
</html>
